:root {
    --red: #cf394f;
    --dark-red: #CC0000;
    --dark-red2: #800000;
    --light-blue: #98d7ff;
    --blue: #0078c0;
    --dark-blue: #006090;
    --yellow: #FFDE00;
    --dark-yellow: #B3A125;
    --white-primary: #EEE;
    --gray: #c9d3d3;
    --pink: #d890a8;
}

body {
    background-color: #FFF;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    padding: 20px 10px;
    background-color: var(--red);
}

.sidebar .title {
    text-align: center;
    color: var(--light-blue);
}

.main-content {
    margin-left: 25%;
    margin-right: 5%;
    padding: 20px 10px;
}

.main-content .title {
    text-align: center;
    color: var(--red);
}

.input-filter {
    text-align: center;
    color: white;
}

.card {
    height: fit-content;
    background-color: #DDD;
}

.card-title {
    font-size: 1.5rem;
    text-align: center;
    color: var(--blue);
}

.card-content {
    font-size: 1.5rem;
    text-align: center;
    color: var(--dark-blue);
}